.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  .header__media-svg {
    display: flex;
    align-items: center;
    padding-right: 96px;
    padding-top: 5px;
  }
}
.header__container {
  display: flex;
  align-items: center;

  a:nth-child(1) svg {
    position: relative;
    left: 27px;
    top: -9px;
    width: 38px;
    height: 38px;
  }
  a:nth-child(2) {
    height: 100%;
    margin-top: 60px;
    margin-left: 58px;
    color: red;
    font-size: 45px;
  }
}
