.nav {
  position: fixed;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  div {
    margin-left: 6%;
    margin-right: -20%;
  }
  span {
    margin: 0 10px;
  }
  svg:last-child {
    margin-right: 8%;
  }
}
