.nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(231, 71, 60, 0.95);
  width: 100vw;
  height: 35%;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.nav-main {
  position: fixed;
  top: 1%;
  left: 50%;
  /* transform: translate(-1%, 1%); */
  display: flex;
  width: 400px;
  height: 150px;
  align-items: center;
  span {
    white-space: nowrap;
    color: white;
    font-size: 2em;
  }
}
