.shopify__section-3 {
  display: flex;
  justify-content: center;
}
.section__3-container {
  margin: 0em 3em 3em 3em;
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 410px);
  width: 100vw;
  gap: 0;
  div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 0;
    &:hover {
      opacity: 0.3;
      transition: ease 0.5s;
      overflow: hidden;
    }
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  div {
    &:nth-child(1) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/blog-4_061dbb25-ea47-47b0-8be7-9466f737b8b7_480x480_crop_top.jpg?v=1684255313");
    }
    &:nth-child(2) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/Web_Banner-mobile6_480x480_crop_top.jpg?v=1684417641");
    }
    &:nth-child(3) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/DUORP-neiman3_37302bf2-d524-4c94-99fc-53b7f78c8158_480x480_crop_top.jpg?v=1683767954");
    }
    &:nth-child(4) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/blog-5_473f4ec0-4207-480a-be1d-275f234df4d4_480x480_crop_top.jpg?v=1684255222");
    }
    &:nth-child(5) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/PBRP-neiman_480x480_crop_top.jpg?v=1683767954");
    }
    &:nth-child(6) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/DUORP-neiman2_15abe563-d3ac-44a2-921f-39afb4b8c929_480x480_crop_top.jpg?v=1683657367");
    }
    &:nth-child(7) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/PaintboxSummerFinaltightcrop_Shot2_-.33x_0.33x_4dedf966-17b9-4c76-9fcc-75ac6c8a0af8_480x480_crop_top.jpg?v=1683915655");
    }
    &:nth-child(8) {
      background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/PBRP-neiman-3_480x480_crop_top.jpg?v=1683767954");
    }
  }
}
