.shopify__section-2 {
  margin-bottom: 5em;
}

.shop__name {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.shop__name-description {
  font-family: freight-display-pro, Times New Roman, serif;
  font-weight: 500;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.shop__name-list {
  img {
    width: 200px;
    height: 200px;
    &:hover {
      transition: ease-in-out 0.3s;
      transform: scale(1.05);
    }
  }
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  .shop__name-item {
    font-family: freight-display-pro, Times New Roman, serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    align-items: center;
    .shop__name-product {
      font-style: italic;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
    }
    .shop__name-price {
      font-family: proxima-nova, Helvetica, Arial, sans-serif;
      font-size: 0.7em;
      display: flex;
      color: #414141;
      justify-content: center;
    }
    .add-cart {
      margin-top: 1em;
      width: 180px;
      height: 40px;
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: proxima-nova, Helvetica, Arial, sans-serif;
      font-size: 0.7em;
      font-weight: 500;
      &:hover {
        background-color: #414141;
        color: #fff;
        transition: background-color 0.3s;
      }
    }
    .shop__name-des {
      font-family: proxima-nova, Helvetica, Arial, sans-serif;
      display: flex;
      justify-content: center;
      span:nth-child(1) {
        font-size: 0.5em;
      }
      span:nth-child(2) {
        color: #cfa102;
        font-size: 0.5em;
      }
    }
  }
}
