@import "nav";
@import "reset.scss";
@import "banner";
@import "shopnames";
@import "subItem";
@import "section3";

/* @import "banner"; */

/* * {
  box-sizing: border-box;
} */

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 100%;
  color: #414141;
  letter-spacing: 0.025em;
}

.shopify__section {
  display: flex;
  justify-content: center;
  margin: 0 0 3em 0em;
}

.shopify__section-subItem {
  margin: 0 3em 3em 3em;
  display: flex;
}

.subItem__container {
  display: flex;
  height: 100%;
}

.follow {
  display: flex;

  font-size: 30px;
  margin-top: 0.3em;
  font-family: "freight-display-pro", "Times New Roman", serif;
  p {
    color: rgb(68, 67, 67);
    margin-right: 0.3em;
  }
  a {
    text-decoration: none;
    color: rgb(138, 133, 133);
    &:visited {
      color: rgb(138, 133, 133);
    }
  }
}

.shopify__section-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 3em 0;
  background-color: #f3ede8;
}

.footer {
  display: flex;
  width: 100%;
  margin: 3em 3em;
  justify-content: space-evenly;
  .footer__columns {
    &:nth-child(1) {
      border-right: 1px solid #3d3c3c;
    }
    &:nth-child(3) {
      border-left: 1px solid #3d3c3c;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    width: 100%;
  }

  .footer__label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  .footer__columns {
    ul {
      font-size: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
