@import "reset.scss";
@import "nav.scss";
@import "header.scss";

body {
  background-color: #e74e43;
  font-family: Univers, Helvetica Neue, Helvetica, Myriad Pro, Myriad, Geneva,
    Arial, sans-serif;
  font-size: 10px;
  line-height: 1;
  text-rendering: optimizeLegibility;
  height: 500vh;
  display: flex;
  margin-left: 33%;
}

main {
  display: flex;
}

.contents {
  z-index: -1;
  position: absolute;
  width: 100vw;
  top: 35%;
  left: 45%;
}

.title-header {
  width: 100px;
  height: 100px;
  background-color: blue;
  z-index: -10;
  h2 {
    font-size: 8em;
    color: aliceblue;
  }
}
